<img src="images/frames4.jpg" id="bg">

<h1>
	Welcome! IFrameYou!
</h1>
<!-- 
<p id="description">
	IFrameYou allows you to view up to four websites in one window. Just login (or sign up and login) to access this easy resource. Once you're in you'll see a menu icon on the top right corner. Click on it to select your user preferences and get started - easy peasy. Once you click submit, you'll find that YOU'VE BEEN FRAMED!
</p> -->

<!-- sign-up link -->

<div id="refs">
	<p class="click leftclick"><a href = "javascript:void(0)" onclick = "createlightbox('signup-lightbox')">sign<br>up </a></p>

	<p class="click rightclick"><a href = "javascript:void(0)" onclick = "createlightbox('login-lightbox')">login </a></p>
</div>

<table width="100%" align="left">
	<tr>
		<td>
		<div id="signup-lightbox" class="white_content" style="height:300px"> 
			<a href = "javascript:void(0)" onclick = "closelightbox('signup-lightbox')" style="float:right">
			<img src="http://2.bp.blogspot.com/-aXHXnOQPBJM/Tx_p1qqNI4I/AAAAAAAAAeU/bH0tlsikADQ/s1600/icon_cancel.gif" alt="" /></a>      
			<table align="center" cellpadding="5" cellspacing="5">
				<tr>
					<td colspan="2" class="Title" align="center">
						<span style="font-size:18px; color:rgba(0, 0, 0, 1)" >Signup Form</span>
					</td>
				</tr>

				<tr>
					<td class="label">              
						<span style="color:rgba(0, 0, 0, .6)">First Name:</span>
					</td>
					<td align="center">
						<input id="Text1" type="text" />
					</td>
				</tr>

				<tr>
					<td class="label">              
						<span style="color:rgba(0, 0, 0, .6)">Last Name:</span>
					</td>
					<td align="center">
						<input id="Text1" type="text" />
					</td>
				</tr>

				<tr>
					<td class="label">
						<span style="color:rgba(0, 0, 0, .6)">Email:</span>
					</td>
					<td align="center">
						<input id="Text1" type="text" />
					</td>
				</tr>

				<tr>
					<td class="label">
						<span style="color:rgba(0, 0, 0, .6)">Password:</span>
					</td>
					<td align="center">
						<input id="Text2" type="password"/>
					</td>
				</tr>

				<tr>
					<td class="label">
						<span style="color:rgba(0, 0, 0, .6)">Confirm-Password:</span>
					</td>
					<td align="center">
						<input id="Text3" type="password" />
					</td>
				</tr><br>

				<tr>
					<td colspan="2" class="Title" align="center"><br>
		<!-- 				<div style="align:center"> -->
						<input id="Button1" type="button" value="Sign-Up!" style="width:100px; height:30px; font-size:16px; background:rgb(0, 0, 0" />
						<!-- </div> -->
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>   

<div id="fade" class="black_overlay"></div>


<!-- login form -->

<table width="100%" align="left">
	<tr>
		<td>
		<div id="login-lightbox" class="white_content" > 
			<a href = "javascript:void(0)" onclick = "closelightbox('login-lightbox')" style="float:right">
			<img src="http://2.bp.blogspot.com/-aXHXnOQPBJM/Tx_p1qqNI4I/AAAAAAAAAeU/bH0tlsikADQ/s1600/icon_cancel.gif" alt="" /></a>      
			<table align="center" cellpadding="5" cellspacing="5" >
				<tr>
					<td colspan="2" class="Title" align="center">
						<span style="font-size:18px; color:rgba(0, 0, 0, 1)" >Login Form</span>
					</td>
				</tr>
				<tr>
					<td class="label">              
						<span style="color:rgba(0, 0, 0, .6)">email:</span>
					</td>
					<td align="center">
						<input id="Text1" type="text" />
					</td>
				</tr>
				<tr>
					<td class="label">              
						<span style="color:rgba(0, 0, 0, .6)">Password:</span>
					</td>
					<td align="center">
						<input id="Text2" type="password" />
					</td>
				</tr>
				<tr><br>
					<td colspan="2" class="Title" align="center"><br>         
						<input id="Button1" type="button" value="Login!" style="width:100px; height:30px; font-size:16px; background:rgb(0, 0, 0"  />
					</td>
				</tr>	
			</table>
		</div>
		</td>
	</tr>
</table>