// chose rgba so can lower opacity without changing opacity of other elements

.black-bg {
	background: rgba(0, 0, 0, .9);
}

.pink-bg {
	background: rgba(247, 139, 209, .9);
}

.purple-bg {
	background: rgba(129, 70, 189, .8);
}

.white-bg {
	background: rgba(255, 255, 255, .9);
}

.blue-bg {
	background: rgba(20, 42, 166, .8);
}