.black {
	border: 3px solid black;
}

.pink {
	border: 3px solid pink;
}

.purple {
	border: 3px solid purple;
}

.white {
	border: 3px solid white;
}

.blue {
	border: 3px solid blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1b2dcb867698bb95c7b4297eacea312f1c3c14a3
